.Song {
    width: 250px;
    height: 200px;
    padding: 0;
    text-align: center;
    border: 1px solid #eee;
    border-left: 10px solid #651819;
    background-color: transparent;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 0 4px 8px 0 rgba(121, 121, 121, 0.2);
}
.Song h3 {
    font-size: 130%;
    margin: 0;
    padding: 3px 0 0 6px;
    text-align: left;
}

.SongName {
    height: 45%;
    border-top: 2px solid #eee;
    background-color: transparent;
}
.SongName p {
   margin: 0;
   padding: 10px 0 15px 0;
}
      
.Song:hover {
        box-shadow: 0 8px 16px 0 rgba(121, 121, 121, 0.2);
        border: 1px solid #d5b4bd;
        border-left: 10px solid #651819;
        background: transparent;
        cursor: pointer;
}

.ArtistName {
    padding: 2px;
    height: 45%;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
