.Song {
    width: 250px;
    height: 200px;
    padding: 0;
    text-align: center;
    border: 1px solid #eee;
    border-bottom: 2px solid white;
    box-shadow: 0 3px 5px 0 rgba(201, 191, 191, 0.459);
    background-color: rgba(32, 26, 26, 0.87);
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    border-radius: 5px;
}

.SongName {
    border-radius: 6px;
    height: 45%;
    border: 2px solid rgba(165, 163, 163, 0.979);
    background-color: rgb(90, 30, 30);
    box-shadow: 0 1px 1.5px white;
}

.SongName p {
   margin: 0;
   padding: 10px 0 15px 0;
}
      
.Song:hover {
        color: #A87B7E;
        border: 1px solid #A87B7E;
        border-bottom: 2px solid #A87B7E;
        background: rgba(49, 15, 15, 0.596);
        cursor: pointer;
}

.ArtistName {
    height: 55%;
}

a {
    padding: 0;
    margin: 0;
    text-decoration: none;
}
