.AlbumTrack {
    width: 100%;
    padding: 0 0 0 4px;
    text-align: left;
    border-bottom: 1px solid #eee;
    border-left: 1px solid #eee;
    margin: 0 0 3px 0;    
    cursor: pointer;
}

.AlbumTrack p {
    font-size: 90%;
}
      
.AlbumTrack:hover {
        color: #A87B7E;
        border-bottom: 1px solid #A87B7E;
        border-left: 1px solid #A87B7E;
        background: rgba(80, 26, 26, 0.05);
        cursor: pointer;
}

