@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css';

.Search {
  padding: 0;
  position: relative;
}

.Search input[type="text"] {
margin-top: 0;
  border: none;
  outline: none;
  color: white;
  padding: 0 60px 0 0;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.Search input[type="text"]:focus:hover {
  border-bottom: 1px solid white;
}

.Search input[type="text"]:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 1px solid white;
  cursor: text;
}
.Search i {
    margin-right: 15px;
    font-size: 145%;
    color:white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    transition: opacity .4s ease;
}
