@import 'https://fonts.googleapis.com/css?family=Raleway';

body {
    font-family: 'Raleway', sans-serif;
    background-color: #020302;
}
.Background {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    margin: 0;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    background-image: url(../../images/background2.jpg);
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.Content { 
  background-color: rgba(36, 25, 25, 0.3);
    left: 0;
    right: 0;
    z-index: 9999;
    margin: 2% 10%;
    text-align: center;
    padding: 0.5% 5% 2% 5%;
  }
.Footer {
  background-color: rgba(36, 25, 25, 0.3);
    margin: 2% 10%;
    text-align: center;
}
p {   
    color: white;
    font-size: 20px;
}
h1 {
    color: white;
	font-size: 45px;
	line-height: 58px;
}