.Logo img{
    width: 55px;
    padding: 3px 0;
    background-image: url(../../images/logo.png);
    background-repeat: no-repeat;
    float: left;
}
header {
    margin: 2% 12%;
    height: 8%;
    background: rgba(179, 173, 173, 0.08);
}
ul {
    padding: 3px 0;
    margin: 0;
  }

li  {
    display:inline;
} 
header a:link, a:visited {
    background-color: transparent;
    color: white;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
  }
  
a:hover, a:active {
    color: #866068;
  }

.SearchBar {
  float: right;
}