.CompleteAlbum h3{
    color: white;
    text-align: left;
    margin-bottom: 25px;
}
h2  {
    margin-bottom: 0;
}
.CompleteAlbum {
    width: 100%;
    padding: 0 25px 0 0;
}
.Lyrics {
    padding: 50px 0 0 25px;
    width: 100%;
}
.Lyrics p{
    font-size: 100%; 
}
.Lyrics h3 {
    color: white;
    margin-bottom: 25px;
}
.FlexBox {
    display: flex;
}
.InlineFlex {
    display: inline-flex;
}
.InlineFlex h2{
    padding: 0 100px 0 0;
}